fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
pydantic-settings
python-multipart


pyjwt
pwdlib[argon2]
email-validator

openai-whisper
transformers
torch
peft

faster-whisper
ctranslate2
silero-vad
onnxruntime
websockets
rapidfuzz

pytest
pytest-asyncio
